<% layout("./layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
           
             <br>
            <h3>Create new listing</h3>
            <form method="POST" action="/listing" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required>
                    <div class="valid-feedback">feedback looks good</div>
                </div>



                <div class="mb-3">
                    <label for="desc" class="form-label">Description:</label>
                    <textarea type="textarea" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">Description required</div>

                </div>



                <div class="mb-3" >
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" placeholder="enter image URL/link" class="form-control" >
                </div>

                <div class="row" >

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="text" name="listing[price]" placeholder="enter price" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid price</div>

                    </div>


                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
                        <div class="invalid-feedback">Country name should be valid</div>

                    </div>
                </div>



                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>




                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br><br>
            </form>
        </div>
    </div>